<mat-toolbar color="primary">
  <fa-icon class='fa-2x' [icon]="faCloudBolt"></fa-icon>
  <span class="gap"></span>
  <a mat-button (click)="routeMain()">Weather Track</a>
  <a mat-button [routerLink]="['maps']">Maps</a>
  <span class="menu-spacer"></span>
  <div *ngIf="loggedIn">
    <button mat-raised-button color="warn" >
      Add Travel
    </button>
    <span class="mini-spacer"></span>
    <button mat-raised-button [routerLink]="['welcome']">Logout</button>
  </div>
  <div *ngIf="!loggedIn">
    <button mat-raised-button (click)="loginDialog()">Login</button>
    <span class="gap"></span>
    <button mat-raised-button (click)="registrationDialog()">Register</button>
  </div>
</mat-toolbar>
