<h1 mat-dialog-title>Login</h1>
<div mat-dialog-content>
  <form [formGroup]="loginForm">
    <mat-form-field appearance="outline">
      <mat-label>Username</mat-label>
      <input formControlName="username" matInput />
    </mat-form-field>
    <span class="gap"></span>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input formControlName="password" matInput type="password" />
    </mat-form-field>
  </form>
</div>
<div mat-dialog-action [align]="'end'">
  <button mat-raised-button color="primary" (click)="attemptLogin()" mat-dialog-close>Login</button>
  <span class="gap"></span>
  <button mat-raised-button color="warn" mat-dialog-close>Close</button>
</div>