.mat-form-field-outline-start,
.mat-form-field-outline-gap,
.mat-form-field-outline-end {
  border: 0.2px solid #666;
  opacity: 1;
}

.form-card {
  width: 80%;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
}

.card-div {
  padding-top: 2%;
}

mat-card-header, mat-card-content {
    display: block;
}

mat-divider {
    padding: 10px;
}

.gap {
    padding: 5px;
}

.wide-field {
    width: 50%;
}